<footer>
  <a class="social" href="#"><i class="fab fa-twitter"></i></a>
  <a class="social" href="#"><i class="fab fa-instagram"></i></a>
  <a class="social" href="#"><i class="fab fa-facebook"></i></a>
  <a class="social" href="#"><i class="fab fa-github-alt"></i></a>
</footer>