<html lang="en">

<head>
  <%- include('head') %>
</head>

<body>
  <div id="container">
    <%- include('navbar') %>
    <div id="show-div">
      <%- include('detail') %>
    </div>
    <%- include('footer') %>
  </div>
</body>

</html>