<html lang="en">

<head>
  <%- include('head') %>
</head>

<body id="books">
  <%- include('navbar') %>
  <p><a href="/">Home</a></p> 
  <div id="books-div">
    <%- include('detail') %>
  </div>
  <%- include('footer') %>
</body>

</html>