<html lang="en">

<head>
  <%- include('head') %>
</head>


<div id="container">

  <body id="results">
    <%- include('navbar') %>
    <div id="show-div">
      <%- include('detail') %>
    </div>
    <%- include('footer') %>
  </body>
</div>

</html>