<html lang="en">

<head>
  <%- include('../../layout/head') %>
</head>


<div id="container">

  <body id="new">
    <div>
      <%- include('../../layout/navbar') %>
      <h2>Search by Title or Author</h2>
      <form action="/apiSearch" method="POST">
        <div id="search-options">
          <input type="text" name="search" id="" placeholder="Enter a title or author">
          <div id="title">
            <label for="title">Title</label>
            <input type="radio" id="title" value="title" name="keyword">
          </div>
          <div id="author">
            <label for="author">Author</label>
            <input type="radio" id="author" value="author" name="keyword">
          </div>
        </div>
        <input type="submit" value="Search the Google Book API">
      </form>
      <%- include('../../layout/footer') %>
    </div>
  </body>

</div>

</html>