<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./public/styles/base.css">
  <title>Booklist App</title>
</head>
<body>
  <form action="" method="">
    <label for="title"></label>
    <input type="radio" value="title" name="">
    <label for="author"></label>
    <input type="radio" value="author" name="">
  </form>
</body>
</html>