<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./public/styles/base.css">
  <title>Booklist App</title>
</head>
<body>
  <!-- <p><a href="/books">Book list</a></p> -->
  <h1>Best Books!</h1>
  <h2>Search by Title or Author</h2>
  <form action="/searches" method="GET">
    <input type="text" name="search" id="" placeholder="Enter a title or author">
    <label for="title">Title</label>
    <input type="radio" id="title" value="title" name="search">
    <label for="author">Author</label>
    <input type="radio" id="author" value="author" name="search">
    <input type="submit" value="Search the Google Book API">
  </form>
</body>
</html>