<html lang="en">
<head>
  <%- include('books/head') %>
</head>
<body>
  <%- include('books/navbar') %>
  <h1>EORRORORORO SORRY</h1>
  <p><a href="/">HOME PAGE</a></p>
  <%- include('books/footer') %>
</body>
</html>