<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/base.css" type="text/css">
  <title>Booklist App</title>
</head>
<body>
  <h1>HELLO WORLD!!!</h1>
  <p><a href="/searches">Search</a></p>
</body>
</html>