/* MEDIA FIRST */
body {
  width: 480px;
  max-width: 960px;
  min-width: 480px;
  margin: auto;
  margin-top: 100px;
  font-family: 'Oswald', sans-serif;
  color: rgba(28, 28, 28, 0.793);
  background-color: rgba(173, 173, 173, 0.799);
  color: red
}


/* DESKTOP */
@media (min-width: 1025px){
  body {
    min-width: 960px;
    margin: auto;
    margin-top: 100px;
  }
}