#container {
  background-color: grey;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 960px;
  margin: auto;
}

/* BOOKS LAYOUT */

#books nav {
  display: flex;
  color: white;
  background-color: black;
}

#books h1, #books #burger {
  height: 100px;
  line-height: 100px;
  font-size: 40px;
  background-color: black;
  color: white;
  /* align-items: center; */
}

#books h1 {
  flex-grow: 2;
  text-align: left;
  padding-left: 30px;
}

#books #burger {
  text-align: right;
  padding-right: 30px;
}

#books h2 {
  height: 100px;
  background-color: rgb(88, 88, 88);
  color: white;
  font-size: 30px;
  line-height: 100px;
}

#books h3 {
  margin-top: 20px;
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px rgb(33, 33, 33);
}

#books h5 {
  margin-top: 15px;
  font-size: 20px;
  font-style: italic;
  color: rgb(20, 20, 20);
}

#books p {
  color: black
}

#books-div {
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
}

#books-div section {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
    /* color: rgb(124, 124, 124); */
  margin: auto;
  height: 850px;
  background-color: rgb(221, 221, 221);
  margin-top: 70px;
  width: 630px;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, .50);

}

#books img {
  margin: auto;
  padding-top: 35px;
  display: block;
  text-align: center;
  width: 350px
}

#books p {
  margin-top: 20px;
  padding: 20px 80px;
  line-height: 24px;
  height: 150px;
  overflow: auto;
  text-align: left;
  text-indent: 2em;
}


/* SHOW LAYOUT */

#show nav {
  display: flex;
  color: white;
  background-color: black;
}

#show h1, #show #burger {
  height: 100px;
  line-height: 100px;
  font-size: 40px;
  background-color: black;
  color: white;
  /* align-items: center; */
}

#show h1 {
  flex-grow: 2;
  text-align: left;
  padding-left: 30px;
}

#show #burger {
  text-align: right;
  padding-right: 30px;
}

#show h2 {
  height: 100px;
  background-color: rgb(88, 88, 88);
  color: white;
  font-size: 30px;
  line-height: 100px;
}

#show h3 {
  margin-top: 20px;
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px rgb(33, 33, 33);
}


#show h4 {
  margin-top: 15px;
  font-size: 20px;
  font-style: italic;
  color: rgb(20, 20, 20);
}

#show-div {
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
}

#show-div section {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
    /* color: rgb(124, 124, 124); */
  margin: auto;
  height: 1000px;
  background-color: rgb(221, 221, 221);
  margin-top: 70px;
  width: 600px;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, .50);
  padding: 0px 30px;
  border-radius: 20px;
}

#show img {
  margin: auto;
  padding-top: 35px;
  display: block;
  text-align: center;
  width: 350px
}

#show p {
  background-color: rgb(246, 246, 246);
  color: black;
  font-size: 18px;
  margin-top: 20px;
  padding: 20px 80px;
  line-height: 26px;
  height: 130px;
  overflow: auto;
  text-align: left;
  text-indent: 2em;
  display: inline-block;
}


@media (min-width: 1025px){
  body {
    min-width: 960px;
    margin: auto;
    margin-top: 100px;
  }
}


/* INDEX */
#index nav {
  display: flex;
  color: white;
  background-color: black;
}

#index h1, #index #burger {
  height: 100px;
  line-height: 100px;
  font-size: 40px;
  background-color: black;
  color: white;
  /* align-items: center; */
}

#index h1 {
  flex-grow: 2;
  text-align: left;
  padding-left: 30px;
}

#index #burger {
  text-align: right;
  padding-right: 30px;
}

#index h2 {
  height: 100px;
  background-color: rgb(88, 88, 88);
  color: white;
  font-size: 30px;
  line-height: 100px;
}

#index h3 {
  margin-top: 20px;
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px rgb(33, 33, 33);
}

#index h4 {
  margin-top: 15px;
  font-size: 16px;
  font-style: italic;
  color: rgb(20, 20, 20);
}

#index p {
  color: black
}

#index-div section {

  margin: auto;
  height: 860px;
  background-color: rgb(221, 221, 221);
  margin-top: 70px;
  width: 630px;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, .50);

}

#index img {
  margin: auto;
  padding-top: 35px;
  display: block;
  text-align: center;
  width: 350px
}

#index #description {
  margin-top: 20px;
  padding: 20px 80px;
  line-height: 24px;
  height: 150px;
  overflow: auto;
  text-align: left;
  text-indent: 2em;
}

#index #details {
  margin: auto;
  margin-top: 60px;
  
}

#index #details a {
  padding: 30px 20px;
  font-size: 30;
  background-color: black;
  border-radius: 15px;
  border: none;
}

#index #details a:hover, #index #details a:visited, #index #details a:active, #index #details a:link {
  color: white;
  text-decoration: none;
}

#index span {
  color: white;
  background-color: black;
  font-size: 30px;
  border-radius: 50px;
  padding: 8px;

}


/* new LAYOUT */


#new form {
  width: 720px;
  margin: auto
}

#new h1, #new p {
  height: 140px;
  line-height: 140px;
  font-size: 40px;
  background-color: black;
  color: white;
  /* align-items: center; */
}

#new h1 {
  flex-grow: 2;
  text-align: left;
  padding-left: 30px;
}

#new p {
  text-align: right;
  padding-right: 30px;
}

#new h2 {
  height: 100px;
  background-color: rgb(88, 88, 88);
  color: white;
  font-size: 30px;
  line-height: 100px;
}

#new nav {
  display: flex;
  color: white;
  background-color: black;
}

#new input[type="text"], #new input[type="submit"] {
  display: block;
  margin: auto;
}

#new input[type="text"] {
  color: black;
  margin-top: 30px;
  font-size: 30px;
  border: none;
  border-radius: 10px;
  padding: 35px 0px 35px 30px;
  width: 100%;
  /* text-align: left; */
}

#new div {
  margin-top: 30px;
  padding: 30px 0px 30px 30px;
  text-align: left;
}

#new #title, #new #author {
  font-size: 30px;
  border: none;
  border-radius: 10px;
  background-color: rgb(222, 222, 222);
  /* text-align: left; */
  /* padding: 30px 250px; */
}

#new input[type="submit"] {
  margin-top: 30px;
  font-size: 46px;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: black;
  color: white;
  padding: 30px 0px;
  cursor: pointer;
}

#new label {
  color: black
}

.social:hover, .social:active, .social:link {
  color: white;
  text-decoration: none;
  margin: 30px 0px
}

footer {
  background-color: black;
  margin: auto;
  width: 960px;
  margin-top: 400px;
  color: white;
  display: flex;
  justify-content: space-around;
  font-size: 48px;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
}


/* RESULTS */
.formData {
  /* visibility: hidden; */
  display: none;
}


/* SHOW LAYOUT */

#results nav {
  display: flex;
  color: white;
  background-color: black;
}

#results h1, #results #burger {
  height: 100px;
  line-height: 100px;
  font-size: 40px;
  background-color: black;
  color: white;
  /* align-items: center; */
}

#results h1 {
  flex-grow: 2;
  text-align: left;
  padding-left: 30px;
}

#results #burger {
  text-align: right;
  padding-right: 30px;
}

#results h2 {
  height: 100px;
  background-color: rgb(88, 88, 88);
  color: white;
  font-size: 30px;
  line-height: 100px;
}

#results h3 {
  margin-top: 20px;
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px rgb(33, 33, 33);
}


#results h4 {
  margin-top: 15px;
  font-size: 20px;
  font-style: italic;
  color: rgb(20, 20, 20);
}

#results-div {
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
}

#results-div section, #results-div section {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
    /* color: rgb(124, 124, 124); */
  margin: auto;
  height: 1000px;
  background-color: rgb(221, 221, 221);
  margin-top: 70px;
  width: 600px;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, .50);
  padding: 0px 30px;
  border-radius: 20px;
}

#results img {
  margin: auto;
  padding-top: 35px;
  display: block;
  text-align: center;
  width: 350px
}

#results p {
  background-color: rgb(246, 246, 246);
  color: black;
  font-size: 18px;
  margin-top: 20px;
  padding: 20px 80px;
  line-height: 26px;
  height: 130px;
  overflow: auto;
  text-align: left;
  text-indent: 2em;
  display: inline-block;
}

#results #details {
  margin: auto;
  margin-top: 40px;
  padding: 30px 20px;
  font-size: 30;
  color: white;
  background-color: black;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
