<nav>
  <h1><a href="/">Best Books</a></h1>
  <p id="burger"><i class="fas fa-bars"></i></p>
</nav>
<ul id="burger-menu">
  <li><a href="/">Home</a></li>
  <li><a href="/newSearch">Search the Google Books API</a></li>
</ul>